@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat+Alternates%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-sfRo3tXTXvHr: #2563eb;
  --plasmic-token-brand-brand: var(--token-sfRo3tXTXvHr);
  --token-DuxxdL72ETky: 0.5rem;
  --plasmic-token-size-8: var(--token-DuxxdL72ETky);
  --token-dj3CG1mNR2XK: Inter;
  --plasmic-token-sans-serif: var(--token-dj3CG1mNR2XK);
  --token-8f8w7tlxiQTd: 1rem;
  --plasmic-token-font-md: var(--token-8f8w7tlxiQTd);
  --token-s1euPUOXvrms: 1.25;
  --plasmic-token-line-height-md: var(--token-s1euPUOXvrms);
  --token-gZhDoKTbbfZs: 0.375rem;
  --plasmic-token-size-6: var(--token-gZhDoKTbbfZs);
  --token-u4FTnnxrLRcB: #374151;
  --plasmic-token-neutral-neutral: var(--token-u4FTnnxrLRcB);
  --token-2-fAU0Ysaz3k: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-2-fAU0Ysaz3k);
  --token-vGebkf1lC63f: #6b7280;
  --plasmic-token-muted-muted: var(--token-vGebkf1lC63f);
  --token-g5XjJs3h8CAz: 0.25rem;
  --plasmic-token-size-4: var(--token-g5XjJs3h8CAz);
  --token-Kph_VK3g-DmO: 0.75rem;
  --plasmic-token-font-sm: var(--token-Kph_VK3g-DmO);
  --token-YNAaV1LA8zcJ: 1;
  --plasmic-token-line-height-sm: var(--token-YNAaV1LA8zcJ);
  --token-OUaGkEboBsbu: 1.25rem;
  --plasmic-token-font-lg: var(--token-OUaGkEboBsbu);
  --token-AYq1rD29Rx1q: 1.4;
  --plasmic-token-line-height-lg: var(--token-AYq1rD29Rx1q);
  --token-jy3iGcot7_FD: 0.125rem;
  --plasmic-token-size-2: var(--token-jy3iGcot7_FD);
  --token-693trZyN_siu: #16a34a;
  --plasmic-token-success-success: var(--token-693trZyN_siu);
  --token-KKjU2T3w1LM3: #facc15;
  --plasmic-token-warning-warning: var(--token-KKjU2T3w1LM3);
  --token-IOD8RaS7nkit: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-IOD8RaS7nkit);
  --token-UqZGqQzKAHGu: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-UqZGqQzKAHGu);
  --token-DlTXA28QTeCV: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-DlTXA28QTeCV);
  --token-fhfqSGI_e6Kf: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-fhfqSGI_e6Kf);
  --token-eCeNj_bkPQkz: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-eCeNj_bkPQkz);
  --token-GjPj6uH3gRrq: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-GjPj6uH3gRrq);
  --token-0J2mERgQJTc2: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-0J2mERgQJTc2);
  --token-4M-2sdXxsmdP: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-4M-2sdXxsmdP);
  --token-dwWLsBZJk8_G: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-dwWLsBZJk8_G);
  --token-vuYWOBxFE5ho: #86efac;
  --plasmic-token-success-success-border: var(--token-vuYWOBxFE5ho);
  --token-ONClibhfEvGH: #fde047;
  --plasmic-token-warning-warning-border: var(--token-ONClibhfEvGH);
  --token-ZpFe9MdprD1l: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-ZpFe9MdprD1l);
  --token-eo4I2XXURWb4: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-eo4I2XXURWb4);
  --token-FFjN9TPxZlRU: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-FFjN9TPxZlRU);
  --token--s7zrjbnSwA6: #00000033;
  --plasmic-token-interaction-pressed: var(--token--s7zrjbnSwA6);
  --token-J4XZoE8eztGf: 0.625rem;
  --plasmic-token-size-10: var(--token-J4XZoE8eztGf);
  --token-HyqtzyfQAllx: 0.75rem;
  --plasmic-token-size-12: var(--token-HyqtzyfQAllx);
  --token-fB7-4U5b15aD: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-fB7-4U5b15aD);
  --token-_TY8C_bmsH6e: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-_TY8C_bmsH6e);
  --token-yOLOzPbHkFoc: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-yOLOzPbHkFoc);
  --token-uY1jYthPAQzj: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-uY1jYthPAQzj);
  --token-uyW_IHsNIeT-: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-uyW_IHsNIeT-);
  --token-C9H8a-LNrAyL: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-C9H8a-LNrAyL);
  --token-W_Cw4peoo32W: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-W_Cw4peoo32W);
  --token-6EIxOQvfVIco: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-6EIxOQvfVIco);
  --token-RrZDcluipAtC: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-RrZDcluipAtC);
  --token-xdXLPzudUiKu: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-xdXLPzudUiKu);
  --token-I4cJ0qw0EOPQ: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-I4cJ0qw0EOPQ);
  --token-8Eak6SBpokxR: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-8Eak6SBpokxR
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ePS6HyC0PIGL_font-family: "Inter", sans-serif;
  --mixin-ePS6HyC0PIGL_font-size: 16px;
  --mixin-ePS6HyC0PIGL_font-weight: 400;
  --mixin-ePS6HyC0PIGL_font-style: normal;
  --mixin-ePS6HyC0PIGL_color: #535353;
  --mixin-ePS6HyC0PIGL_text-align: left;
  --mixin-ePS6HyC0PIGL_text-transform: none;
  --mixin-ePS6HyC0PIGL_line-height: 1.5;
  --mixin-ePS6HyC0PIGL_letter-spacing: normal;
  --mixin-ePS6HyC0PIGL_white-space: pre-wrap;
  --mixin-ePS6HyC0PIGL_user-select: text;
  --mixin-ePS6HyC0PIGL_text-decoration-line: none;
  --mixin-ePS6HyC0PIGL_text-overflow: clip;
  --mixin-eN_PWQDqz07U_color: #000000;
  --mixin-eN_PWQDqz07U_font-weight: 700;
  --mixin-eN_PWQDqz07U_font-size: 64px;
  --mixin-eN_PWQDqz07U_line-height: 1;
  --mixin-eN_PWQDqz07U_letter-spacing: -1px;
  --mixin-eN_PWQDqz07U_white-space: pre-wrap;
  --mixin-OYPD1Yxy-bqU_color: #000000;
  --mixin-OYPD1Yxy-bqU_font-size: 48px;
  --mixin-OYPD1Yxy-bqU_font-weight: 700;
  --mixin-OYPD1Yxy-bqU_letter-spacing: -0.5px;
  --mixin-OYPD1Yxy-bqU_line-height: 1.1;
  --mixin-OYPD1Yxy-bqU_white-space: pre-wrap;
  --mixin-s3C9d07eASzT_color: #0070f3;
  --mixin-s3C9d07eASzT_white-space: pre-wrap;
  --mixin-yhrJPJbbMF1c_color: #000000;
  --mixin-yhrJPJbbMF1c_font-size: 32px;
  --mixin-yhrJPJbbMF1c_font-weight: 600;
  --mixin-yhrJPJbbMF1c_line-height: 1.2;
  --mixin-yhrJPJbbMF1c_white-space: pre-wrap;
  --mixin-JhPUsgfmBvOY_color: #000000;
  --mixin-JhPUsgfmBvOY_font-size: 24px;
  --mixin-JhPUsgfmBvOY_font-weight: 600;
  --mixin-JhPUsgfmBvOY_line-height: 1.3;
  --mixin-JhPUsgfmBvOY_white-space: pre-wrap;
  --mixin-6dAeVkoyZ5To_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6dAeVkoyZ5To_border-bottom-color: #dddddd;
  --mixin-6dAeVkoyZ5To_border-bottom-style: solid;
  --mixin-6dAeVkoyZ5To_border-bottom-width: 1px;
  --mixin-6dAeVkoyZ5To_border-left-color: #dddddd;
  --mixin-6dAeVkoyZ5To_border-left-style: solid;
  --mixin-6dAeVkoyZ5To_border-left-width: 1px;
  --mixin-6dAeVkoyZ5To_border-right-color: #dddddd;
  --mixin-6dAeVkoyZ5To_border-right-style: solid;
  --mixin-6dAeVkoyZ5To_border-right-width: 1px;
  --mixin-6dAeVkoyZ5To_border-top-color: #dddddd;
  --mixin-6dAeVkoyZ5To_border-top-style: solid;
  --mixin-6dAeVkoyZ5To_border-top-width: 1px;
  --mixin-6dAeVkoyZ5To_border-bottom-left-radius: 3px;
  --mixin-6dAeVkoyZ5To_border-bottom-right-radius: 3px;
  --mixin-6dAeVkoyZ5To_border-top-left-radius: 3px;
  --mixin-6dAeVkoyZ5To_border-top-right-radius: 3px;
  --mixin-6dAeVkoyZ5To_font-family: "Inconsolata";
  --mixin-6dAeVkoyZ5To_padding-bottom: 1px;
  --mixin-6dAeVkoyZ5To_padding-left: 4px;
  --mixin-6dAeVkoyZ5To_padding-right: 4px;
  --mixin-6dAeVkoyZ5To_padding-top: 1px;
  --mixin-6dAeVkoyZ5To_white-space: pre-wrap;
  --mixin-3jdQNtLoz4QO_border-left-color: #dddddd;
  --mixin-3jdQNtLoz4QO_border-left-style: solid;
  --mixin-3jdQNtLoz4QO_border-left-width: 3px;
  --mixin-3jdQNtLoz4QO_color: #888888;
  --mixin-3jdQNtLoz4QO_padding-left: 10px;
  --mixin-3jdQNtLoz4QO_white-space: pre-wrap;
  --mixin-QnBKweYANx1B_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QnBKweYANx1B_border-bottom-color: #dddddd;
  --mixin-QnBKweYANx1B_border-bottom-style: solid;
  --mixin-QnBKweYANx1B_border-bottom-width: 1px;
  --mixin-QnBKweYANx1B_border-left-color: #dddddd;
  --mixin-QnBKweYANx1B_border-left-style: solid;
  --mixin-QnBKweYANx1B_border-left-width: 1px;
  --mixin-QnBKweYANx1B_border-right-color: #dddddd;
  --mixin-QnBKweYANx1B_border-right-style: solid;
  --mixin-QnBKweYANx1B_border-right-width: 1px;
  --mixin-QnBKweYANx1B_border-top-color: #dddddd;
  --mixin-QnBKweYANx1B_border-top-style: solid;
  --mixin-QnBKweYANx1B_border-top-width: 1px;
  --mixin-QnBKweYANx1B_border-bottom-left-radius: 3px;
  --mixin-QnBKweYANx1B_border-bottom-right-radius: 3px;
  --mixin-QnBKweYANx1B_border-top-left-radius: 3px;
  --mixin-QnBKweYANx1B_border-top-right-radius: 3px;
  --mixin-QnBKweYANx1B_font-family: "Inconsolata";
  --mixin-QnBKweYANx1B_padding-bottom: 3px;
  --mixin-QnBKweYANx1B_padding-left: 6px;
  --mixin-QnBKweYANx1B_padding-right: 6px;
  --mixin-QnBKweYANx1B_padding-top: 3px;
  --mixin-QnBKweYANx1B_white-space: pre-wrap;
  --mixin-86RqtNTnK9r6_display: flex;
  --mixin-86RqtNTnK9r6_flex-direction: column;
  --mixin-86RqtNTnK9r6_align-items: stretch;
  --mixin-86RqtNTnK9r6_justify-content: flex-start;
  --mixin-86RqtNTnK9r6_list-style-position: outside;
  --mixin-86RqtNTnK9r6_padding-left: 40px;
  --mixin-86RqtNTnK9r6_position: relative;
  --mixin-86RqtNTnK9r6_list-style-type: disc;
  --mixin-86RqtNTnK9r6_white-space: pre-wrap;
  --mixin-Zwg2iJzHQJXC_display: flex;
  --mixin-Zwg2iJzHQJXC_flex-direction: column;
  --mixin-Zwg2iJzHQJXC_align-items: stretch;
  --mixin-Zwg2iJzHQJXC_justify-content: flex-start;
  --mixin-Zwg2iJzHQJXC_list-style-position: outside;
  --mixin-Zwg2iJzHQJXC_padding-left: 40px;
  --mixin-Zwg2iJzHQJXC_position: relative;
  --mixin-Zwg2iJzHQJXC_list-style-type: decimal;
  --mixin-Zwg2iJzHQJXC_white-space: pre-wrap;
  --mixin-Wny9xO2zn7Rf_color: #000000;
  --mixin-Wny9xO2zn7Rf_font-size: 20px;
  --mixin-Wny9xO2zn7Rf_font-weight: 600;
  --mixin-Wny9xO2zn7Rf_line-height: 1.5;
  --mixin-Wny9xO2zn7Rf_white-space: pre-wrap;
  --mixin-1PUD77xqaRV2_color: #000000;
  --mixin-1PUD77xqaRV2_font-size: 16px;
  --mixin-1PUD77xqaRV2_font-weight: 600;
  --mixin-1PUD77xqaRV2_line-height: 1.5;
  --mixin-1PUD77xqaRV2_white-space: pre-wrap;
  --mixin-YtcXWDSgwByQ_color: #3291ff;
  --mixin-YtcXWDSgwByQ_white-space: pre-wrap;
  --mixin-ieY_X1Og9vo2_white-space: pre-wrap;
  --mixin-DSe2L6gLyeUP_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ePS6HyC0PIGL_font-family);
  font-size: var(--mixin-ePS6HyC0PIGL_font-size);
  font-weight: var(--mixin-ePS6HyC0PIGL_font-weight);
  font-style: var(--mixin-ePS6HyC0PIGL_font-style);
  color: var(--mixin-ePS6HyC0PIGL_color);
  text-align: var(--mixin-ePS6HyC0PIGL_text-align);
  text-transform: var(--mixin-ePS6HyC0PIGL_text-transform);
  line-height: var(--mixin-ePS6HyC0PIGL_line-height);
  letter-spacing: var(--mixin-ePS6HyC0PIGL_letter-spacing);
  white-space: var(--mixin-ePS6HyC0PIGL_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-eN_PWQDqz07U_color);
  font-weight: var(--mixin-eN_PWQDqz07U_font-weight);
  font-size: var(--mixin-eN_PWQDqz07U_font-size);
  line-height: var(--mixin-eN_PWQDqz07U_line-height);
  letter-spacing: var(--mixin-eN_PWQDqz07U_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-OYPD1Yxy-bqU_color);
  font-size: var(--mixin-OYPD1Yxy-bqU_font-size);
  font-weight: var(--mixin-OYPD1Yxy-bqU_font-weight);
  letter-spacing: var(--mixin-OYPD1Yxy-bqU_letter-spacing);
  line-height: var(--mixin-OYPD1Yxy-bqU_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-s3C9d07eASzT_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-yhrJPJbbMF1c_color);
  font-size: var(--mixin-yhrJPJbbMF1c_font-size);
  font-weight: var(--mixin-yhrJPJbbMF1c_font-weight);
  line-height: var(--mixin-yhrJPJbbMF1c_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JhPUsgfmBvOY_color);
  font-size: var(--mixin-JhPUsgfmBvOY_font-size);
  font-weight: var(--mixin-JhPUsgfmBvOY_font-weight);
  line-height: var(--mixin-JhPUsgfmBvOY_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6dAeVkoyZ5To_font-family);
  border-radius: var(--mixin-6dAeVkoyZ5To_border-top-left-radius)
    var(--mixin-6dAeVkoyZ5To_border-top-right-radius)
    var(--mixin-6dAeVkoyZ5To_border-bottom-right-radius)
    var(--mixin-6dAeVkoyZ5To_border-bottom-left-radius);
  padding: var(--mixin-6dAeVkoyZ5To_padding-top)
    var(--mixin-6dAeVkoyZ5To_padding-right)
    var(--mixin-6dAeVkoyZ5To_padding-bottom)
    var(--mixin-6dAeVkoyZ5To_padding-left);
  border-top: var(--mixin-6dAeVkoyZ5To_border-top-width)
    var(--mixin-6dAeVkoyZ5To_border-top-style)
    var(--mixin-6dAeVkoyZ5To_border-top-color);
  border-right: var(--mixin-6dAeVkoyZ5To_border-right-width)
    var(--mixin-6dAeVkoyZ5To_border-right-style)
    var(--mixin-6dAeVkoyZ5To_border-right-color);
  border-bottom: var(--mixin-6dAeVkoyZ5To_border-bottom-width)
    var(--mixin-6dAeVkoyZ5To_border-bottom-style)
    var(--mixin-6dAeVkoyZ5To_border-bottom-color);
  border-left: var(--mixin-6dAeVkoyZ5To_border-left-width)
    var(--mixin-6dAeVkoyZ5To_border-left-style)
    var(--mixin-6dAeVkoyZ5To_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3jdQNtLoz4QO_color);
  padding-left: var(--mixin-3jdQNtLoz4QO_padding-left);
  border-left: var(--mixin-3jdQNtLoz4QO_border-left-width)
    var(--mixin-3jdQNtLoz4QO_border-left-style)
    var(--mixin-3jdQNtLoz4QO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QnBKweYANx1B_font-family);
  border-radius: var(--mixin-QnBKweYANx1B_border-top-left-radius)
    var(--mixin-QnBKweYANx1B_border-top-right-radius)
    var(--mixin-QnBKweYANx1B_border-bottom-right-radius)
    var(--mixin-QnBKweYANx1B_border-bottom-left-radius);
  padding: var(--mixin-QnBKweYANx1B_padding-top)
    var(--mixin-QnBKweYANx1B_padding-right)
    var(--mixin-QnBKweYANx1B_padding-bottom)
    var(--mixin-QnBKweYANx1B_padding-left);
  border-top: var(--mixin-QnBKweYANx1B_border-top-width)
    var(--mixin-QnBKweYANx1B_border-top-style)
    var(--mixin-QnBKweYANx1B_border-top-color);
  border-right: var(--mixin-QnBKweYANx1B_border-right-width)
    var(--mixin-QnBKweYANx1B_border-right-style)
    var(--mixin-QnBKweYANx1B_border-right-color);
  border-bottom: var(--mixin-QnBKweYANx1B_border-bottom-width)
    var(--mixin-QnBKweYANx1B_border-bottom-style)
    var(--mixin-QnBKweYANx1B_border-bottom-color);
  border-left: var(--mixin-QnBKweYANx1B_border-left-width)
    var(--mixin-QnBKweYANx1B_border-left-style)
    var(--mixin-QnBKweYANx1B_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-86RqtNTnK9r6_display);
  flex-direction: var(--mixin-86RqtNTnK9r6_flex-direction);
  align-items: var(--mixin-86RqtNTnK9r6_align-items);
  justify-content: var(--mixin-86RqtNTnK9r6_justify-content);
  list-style-position: var(--mixin-86RqtNTnK9r6_list-style-position);
  padding-left: var(--mixin-86RqtNTnK9r6_padding-left);
  position: var(--mixin-86RqtNTnK9r6_position);
  list-style-type: var(--mixin-86RqtNTnK9r6_list-style-type);
  flex-column-gap: var(--mixin-86RqtNTnK9r6_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Zwg2iJzHQJXC_display);
  flex-direction: var(--mixin-Zwg2iJzHQJXC_flex-direction);
  align-items: var(--mixin-Zwg2iJzHQJXC_align-items);
  justify-content: var(--mixin-Zwg2iJzHQJXC_justify-content);
  list-style-position: var(--mixin-Zwg2iJzHQJXC_list-style-position);
  padding-left: var(--mixin-Zwg2iJzHQJXC_padding-left);
  position: var(--mixin-Zwg2iJzHQJXC_position);
  list-style-type: var(--mixin-Zwg2iJzHQJXC_list-style-type);
  flex-column-gap: var(--mixin-Zwg2iJzHQJXC_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Wny9xO2zn7Rf_color);
  font-size: var(--mixin-Wny9xO2zn7Rf_font-size);
  font-weight: var(--mixin-Wny9xO2zn7Rf_font-weight);
  line-height: var(--mixin-Wny9xO2zn7Rf_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-1PUD77xqaRV2_color);
  font-size: var(--mixin-1PUD77xqaRV2_font-size);
  font-weight: var(--mixin-1PUD77xqaRV2_font-weight);
  line-height: var(--mixin-1PUD77xqaRV2_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-YtcXWDSgwByQ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
