.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-g5XjJs3h8CAz);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox___00Xhu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-NMQ2va-2cg1t);
  width: 100%;
  font-size: var(--token-8f8w7tlxiQTd);
  line-height: var(--token-s1euPUOXvrms);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-gZhDoKTbbfZs);
  padding: var(--token-gZhDoKTbbfZs) var(--token-m0R0QCxgPEi0)
    var(--token-gZhDoKTbbfZs) var(--token-J4XZoE8eztGf);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-m0R0QCxgPEi0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-m0R0QCxgPEi0);
  flex-shrink: 0;
  border-radius: var(--token-gZhDoKTbbfZs);
  padding: var(--token-gZhDoKTbbfZs) var(--token-J4XZoE8eztGf);
  border: 1px none black;
}
.freeBox__zg2Iz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token--cDxbIntzYXX);
  height: var(--token--cDxbIntzYXX);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__v3KnS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
