.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-sfRo3tXTXvHr);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-DuxxdL72ETky);
  font-family: var(--token-dj3CG1mNR2XK);
  font-size: var(--token-8f8w7tlxiQTd);
  line-height: var(--token-s1euPUOXvrms);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-gZhDoKTbbfZs);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-jy3iGcot7_FD);
  outline-offset: 1px;
  outline-color: var(--token-sfRo3tXTXvHr);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-u4FTnnxrLRcB);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-vGebkf1lC63f);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-693trZyN_siu);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-KKjU2T3w1LM3);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-2-fAU0Ysaz3k);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-YNAaV1LA8zcJ);
  font-size: var(--token-Kph_VK3g-DmO);
  column-gap: var(--token-jy3iGcot7_FD);
  row-gap: 0px;
  border-radius: var(--token-g5XjJs3h8CAz);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Kph_VK3g-DmO);
  line-height: var(--token-YNAaV1LA8zcJ);
  column-gap: var(--token-g5XjJs3h8CAz);
  row-gap: 0px;
  border-radius: var(--token-g5XjJs3h8CAz);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-OUaGkEboBsbu);
  line-height: var(--token-AYq1rD29Rx1q);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-OUaGkEboBsbu);
  line-height: var(--token-AYq1rD29Rx1q);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-IOD8RaS7nkit);
  border-radius: var(--token-gZhDoKTbbfZs);
}
.softBackgroundcolor_neutral {
  background: var(--token-UqZGqQzKAHGu);
}
.softBackgroundcolor_muted {
  background: var(--token-DlTXA28QTeCV);
}
.softBackgroundcolor_success {
  background: var(--token-fhfqSGI_e6Kf);
}
.softBackgroundcolor_warning {
  background: var(--token-eCeNj_bkPQkz);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-GjPj6uH3gRrq);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-gZhDoKTbbfZs);
  border: 0px solid var(--token-0J2mERgQJTc2);
}
.bordercolor_neutral {
  border-color: var(--token-4M-2sdXxsmdP);
}
.bordercolor_muted {
  border-color: var(--token-dwWLsBZJk8_G);
}
.bordercolor_success {
  border-color: var(--token-vuYWOBxFE5ho);
}
.bordercolor_warning {
  border-color: var(--token-ONClibhfEvGH);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ZpFe9MdprD1l);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-gZhDoKTbbfZs);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-eo4I2XXURWb4);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-FFjN9TPxZlRU);
}
.root[data-pressed] .interactionEffect {
  background: var(--token--s7zrjbnSwA6);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__z0HFo {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-gZhDoKTbbfZs) var(--token-J4XZoE8eztGf);
}
.freeBox__z0HFo > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-gZhDoKTbbfZs));
  width: calc(100% + var(--token-gZhDoKTbbfZs));
}
.freeBox__z0HFo > :global(.__wab_flex-container) > *,
.freeBox__z0HFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0HFo > :global(.__wab_flex-container) > picture > img,
.freeBox__z0HFo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-gZhDoKTbbfZs);
}
.freeBoxsize_extraSmall__z0HFOafCqm {
  padding: var(--token-g5XjJs3h8CAz) var(--token-gZhDoKTbbfZs);
}
.freeBoxsize_small__z0HFoYdSva {
  padding: var(--token-gZhDoKTbbfZs) var(--token-DuxxdL72ETky);
}
.freeBoxsize_large__z0HFo6YW1Q {
  padding-top: var(--token-g5XjJs3h8CAz);
  padding-bottom: var(--token-g5XjJs3h8CAz);
}
.freeBoxsize_extraLarge__z0HFo6YkVu {
  padding-left: var(--token-HyqtzyfQAllx);
  padding-right: var(--token-HyqtzyfQAllx);
}
.freeBoxroundedFull__z0HFOwphjN {
  padding-right: var(--token-HyqtzyfQAllx);
  padding-left: var(--token-HyqtzyfQAllx);
}
.freeBox__cc5Wc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__cc5WCfXIe {
  display: flex;
}
.slotTargetStart {
  color: var(--token-fB7-4U5b15aD);
}
.slotTargetStartcolor_neutral {
  color: var(--token-_TY8C_bmsH6e);
}
.slotTargetStartcolor_muted {
  color: var(--token-yOLOzPbHkFoc);
}
.slotTargetStartcolor_success {
  color: var(--token-C9H8a-LNrAyL);
}
.slotTargetStartcolor_warning {
  color: var(--token-uyW_IHsNIeT-);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-W_Cw4peoo32W);
}
.slotTargetStarttype_soft {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetStarttype_bordered {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Kph_VK3g-DmO);
}
.slotTargetStartsize_small {
  font-size: var(--token-Kph_VK3g-DmO);
}
.slotTargetStartsize_large {
  font-size: var(--token-OUaGkEboBsbu);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-OUaGkEboBsbu);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.svg__caSyx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-fB7-4U5b15aD);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-_TY8C_bmsH6e);
}
.slotTargetLabelcolor_muted {
  color: var(--token-yOLOzPbHkFoc);
}
.slotTargetLabelcolor_success {
  color: var(--token-C9H8a-LNrAyL);
}
.slotTargetLabelcolor_warning {
  color: var(--token-uyW_IHsNIeT-);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-W_Cw4peoo32W);
}
.slotTargetLabeltype_soft {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetLabeltype_bordered {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.text__dF0NJ {
  white-space: pre;
}
.freeBox__bYy6G {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__bYy6GDrBp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-fB7-4U5b15aD);
}
.slotTargetEndcolor_neutral {
  color: var(--token-_TY8C_bmsH6e);
}
.slotTargetEndcolor_muted {
  color: var(--token-yOLOzPbHkFoc);
}
.slotTargetEndcolor_success {
  color: var(--token-C9H8a-LNrAyL);
}
.slotTargetEndcolor_warning {
  color: var(--token-uyW_IHsNIeT-);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-W_Cw4peoo32W);
}
.slotTargetEndtype_soft {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetEndtype_bordered {
  color: var(--token-uY1jYthPAQzj);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Kph_VK3g-DmO);
}
.slotTargetEndsize_small {
  font-size: var(--token-Kph_VK3g-DmO);
}
.slotTargetEndsize_large {
  font-size: var(--token-OUaGkEboBsbu);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-OUaGkEboBsbu);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-6EIxOQvfVIco);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-RrZDcluipAtC);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-xdXLPzudUiKu);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-I4cJ0qw0EOPQ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-8Eak6SBpokxR);
}
.svg__ek3RA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
