.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.footer {
  width: 1920px;
  height: 531px;
  display: block;
  position: absolute;
  left: -560px;
  top: 927px;
}
.svg___3ClQb {
  object-fit: cover;
  max-width: 100%;
  color: #a7b2d2;
  width: 1920px;
  height: 508px;
  display: block;
  position: absolute;
  top: 31.07%;
  left: 0%;
}
.text___8I5Nb {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.5%;
  left: 57.08%;
  width: 12.13%;
  height: 22.78%;
}
.text__ofyu {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4900000095367432;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 57.03%;
  width: 13.8%;
  height: 5.27%;
}
.text__zYcK {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.17%;
  left: 57.08%;
  width: 8.22%;
  height: 3.57%;
}
.text__jdRXa {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 57.08%;
  width: 8.22%;
  height: 4.14%;
}
.text__ysiyo {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.5%;
  left: 37.92%;
  width: 12.13%;
  height: 22.78%;
}
.svg___7Sw3 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.0416259765625px, -0.416748046875px);
  width: 11.083333969116211px;
  height: 15.833333015441895px;
  display: block;
  position: absolute;
  top: 456px;
  left: 1547px;
}
.scatchсетьмагазиновуспешноработающихвовладивостокеидругихгородахроссииаещёэтокрупныйинтернетмагазинканцелярии {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.55%;
  left: 6.25%;
  width: 23.38%;
}
.магазинканцтоваровScatch {
  display: block;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 55.56%;
  left: 6.25%;
  width: 24.63%;
  height: 3.95%;
}
.youtube {
  background: url("./images/youtube.png") center center / cover no-repeat;
  width: 1.82%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 112.43%;
  left: 9.27%;
}
.whatsapp {
  background: url("./images/whatsapp.png") center center / cover no-repeat;
  width: 1.82%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 111.68%;
  left: 6.25%;
}
.telegram {
  background: url("./images/telegram.png") center center / cover no-repeat;
  width: 1.77%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 112.43%;
  left: 12.29%;
}
.rectangle544 {
  background: rgba(255, 255, 255, 1);
  width: 87.5%;
  height: 0.37%;
  display: block;
  position: absolute;
  top: 102.82%;
  left: 6.25%;
}
.text__pd5Qg {
  display: block;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 114.69%;
  left: 86.56%;
}
.text__belbT {
  display: block;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 109.79%;
  left: 82.76%;
}
.text___6XMgA {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 115.25%;
  left: 85.78%;
  width: 0.83%;
  height: 3.95%;
}
.внашихмагазинах {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4900000095367432;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 37.86%;
  width: 12.13%;
  height: 5.27%;
}
.text__huTFu {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.17%;
  left: 37.92%;
  width: 8.22%;
  height: 3.57%;
}
.text___0BEe {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 37.92%;
  width: 5.41%;
  height: 4.14%;
}
.text__qbiYx {
  display: block;
  font-size: 22px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 83.85%;
  width: 9.94%;
  height: 6.02%;
}
._89024731492 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.55%;
  left: 86.15%;
  width: 7.7%;
}
.text__esFti {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 85.73%;
}
.text__kqQoY {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.12%;
  left: 81.56%;
}
.svg__tahY {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 69.49%;
  left: 85.1%;
}
.svg__qjGtX {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 15px;
  height: 12px;
  display: block;
  position: absolute;
  top: 415px;
  left: 1625px;
}
.svg__da3UK {
  object-fit: cover;
  max-width: 100%;
  color: #a7b2d2;
  width: 1921px;
  height: 83px;
  display: block;
  position: absolute;
  top: 26.74%;
  left: 0%;
  border-radius: 50px;
}
.header2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: -560px;
  padding: 0px 8px 8px 0px;
}
.header {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
  background: rgba(167, 178, 210, 1);
  width: 1920px;
  height: 227px;
  display: block;
  flex-shrink: 0;
  padding: 0px;
}
.svg__laxoy {
  object-fit: cover;
  max-width: 100%;
  color: #f6f6f6;
  width: 318px;
  height: 227px;
  display: block;
  left: 24px;
  top: 0px;
  position: absolute;
}
.rightPanel {
  width: 100%;
  height: 85px;
  display: block;
  position: absolute;
  left: 1367px;
  top: 70px;
  margin-right: 0px;
  padding-right: 0px;
  min-width: 0;
}
.svg__wdxee {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 53px;
  height: 47px;
  display: block;
  position: absolute;
  top: 8px;
  left: 358px;
}
.svg___6KwcX {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 55px;
  height: 53.65853500366211px;
  display: block;
  position: absolute;
  top: 0px;
  left: 183px;
}
.svg__dAbBq {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50.975608825683594px;
  height: 53.65853500366211px;
  display: block;
  position: absolute;
  top: 0px;
  left: 18px;
}
.text___53TC {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 74.11%;
  left: 0%;
}
.toProfile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 2px;
  top: 0px;
  width: 85px;
  height: 81px;
  opacity: 0;
}
.svg___18E2 {
  position: relative;
  height: 1em;
}
.text__tOkGj {
  white-space: pre;
}
.svg__ju8Dt {
  position: relative;
  height: 1em;
}
.toCart:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 171px;
  top: 0px;
  width: 80px;
  height: 81px;
  opacity: 0;
}
.svg__fcnYi {
  position: relative;
  height: 1em;
}
.text__tClMz {
  white-space: pre;
}
.svg__cBoDm {
  position: relative;
  height: 1em;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.logoText1 {
  background: url("./images/logoText2.png") 0px -33px / 291px 291px no-repeat;
  width: 291px;
  height: 227px;
  display: block;
  position: absolute;
  left: 35px;
  top: 2px;
  flex-shrink: 0;
}
.homeButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 101px;
  top: 10px;
  width: 161px;
  height: 209px;
  opacity: 0;
  flex-shrink: 0;
}
.svg__dqG3V {
  position: relative;
  height: 1em;
}
.svg__jAk1H {
  position: relative;
  height: 1em;
}
.region {
  width: 197px;
  height: 53px;
  display: block;
  position: absolute;
  left: 850px;
  top: 85px;
  flex-shrink: 0;
}
.svg___0KZk {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 29px;
  height: 42px;
  display: block;
  position: absolute;
  top: 8px;
  left: 0px;
}
.региондоставки {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.7699999809265137;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0%;
  left: 19.29%;
  width: 80.71%;
  height: 45.28%;
}
.citySelector:global(.__wab_instance):global(.__wab_instance) {
  max-width: 0%;
  position: absolute;
  left: 32px;
  top: 35px;
  width: 0px;
}
.menuItem__t9Iki:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 1;
}
.search {
  width: 470px;
  height: 70px;
  display: block;
  position: absolute;
  left: 302px;
  top: 78px;
  flex-shrink: 0;
}
.rectangle1 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(167, 178, 210, 1);
  transform: scale(1, -1);
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 100%;
  left: 0%;
  border-radius: 32px;
}
.searchField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 12px;
  top: 11px;
  width: 442px;
  height: 49px;
}
.text__upopB {
  white-space: pre-wrap;
  font-family: "Montserrat", sans-serif;
  color: #141414;
}
.svg__lGizV {
  position: relative;
  height: 1em;
}
.svg__sd70U {
  position: relative;
  height: 1em;
}
.text__gjr53 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.rectangle2 {
  background: rgba(167, 178, 210, 1);
  transform: scale(1, -1) translate(0px, 0.109130859375px);
  width: 10.25%;
  height: 70%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 60px;
  left: 87.23%;
  border-radius: 23px;
}
.svg___2P2Nx {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 23px;
  left: 422px;
}
.land {
  width: 1776px;
  height: 736px;
  display: block;
}
.rectangle447 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(247, 247, 247, 1);
  background: rgba(255, 255, 255, 1);
  width: 1680px;
  height: 602px;
  display: block;
  position: absolute;
  top: 402px;
  left: 60px;
  border-radius: 20px;
}
.text__xzByp {
  display: block;
  font-size: 30px;
  letter-spacing: 0.01em;
  line-height: 1.399999976158142;
  position: absolute;
  top: 472px;
  left: 140px;
  width: 1152px;
}
.logoText2 {
  background: url("./images/logoText2.png") center center / cover no-repeat;
  width: 662px;
  height: 662px;
  display: block;
  position: absolute;
  top: 372px;
  left: 1173px;
}
.text__vzQ8F {
  display: block;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 296px;
  left: 56px;
  width: 594px;
  height: 54px;
}
.text__w67A {
  color: #a7b2d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  left: -346px;
  top: 479px;
  line-height: 0.93;
  letter-spacing: 0px;
}
